<footer>
	<p>AngularJs project on <a href="https://github.com/MOctavio" target="_blank">GitHub</a></p>
	<section>Follow OpenWeatherMap on
		<a href="https://twitter.com/OpenWeatherMap" target="_blank">Twitter</a>,
		<a href="https://www.facebook.com/groups/270748973021342" target="_blank">Facebook</a>,
		<a href="https://plus.google.com/u/0/communities/101265402580965077532" target="_blank">Google+</a> and
		<a href="https://github.com/search?q=openweathermap&amp;ref=cmdform" target="_blank">GitHub.</a>
	</section>
</footer>
